$color-main: #1B1A1A;
$color-bg-card: #E5E6E6;
$color-orange: #9A6437;
$color-white: #FFFFFF;
$color-dark-blue: #2C314B;
$color-bg-black: #1C1B1B;
$color-grey: #737373;
$color-light-grey: #999999;
$color-main-grey: #878787;
$color-gallery-card: #F7F7F7;

$color-orange-hover: #8D3200;
$color-cart-bg: #8C32130F;
$color-black: black;


