@import '../../assets/styles/variables/_colors.scss';

.top {
    padding: 106px 0 118px 0;

    &__title {
        margin-bottom: 34px;
    }

    &__card-box {
        display: flex;
        justify-content: space-between;
        
    }
}