@import '../../../assets/styles/variables/_colors.scss';
@import '../../../assets/styles/variables/_sizing.scss';

.latest-card {
    position: relative;
    width: 350px;
    :hover {
        cursor: pointer;
    }
    &__img {
        position: absolute;
        width: 350px;
    }

    &__date {
        position: absolute;
        top: 271px;
        left: 30px;
        padding: 7px 0 5px 0;
        color: $color-black;
        text-align: center;
        width: 45px;
        background-color: $color-white;
        border-bottom: 3px solid #B47139;
        filter: drop-shadow(0px 1px 7px rgba(0, 0, 0, 0.15));
    }

    &__day {
        font-weight: 400;
        font-size: 17px;
        margin-bottom: 1px;
    } 

    &__month {
        font-weight: 300;
        font-size: 12px;
    }

    &__text-box {
        padding: 340px 30px 30px;
        border: 1px solid $color-light-grey;
    }

    &__icon-text {
        display: flex;
        gap: 27px;
        font-weight: 300;
        font-size: 14px;
        line-height: 28px;
        color: $color-main-grey;
        margin-bottom: 11px;
    }

    &__icon {
        margin-right: 7px;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    &__button {
        border: 0.6px solid $color-main;
        padding: 11px;
        font-weight: 400;
        font-size: 14px;
    }

    &__button:hover {
        color: $color-white;
        background-color: $color-bg-black;
    }
}